<%= form_for @employee do |f| %>
    <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <table>
    <tr>
    	<td>
    		<%= f.label :name %>
    	</td>
    	<td>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :designation%>
    	</td>
    	<td>
    		<%= f.text_field :designation %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :about %>
    	</td>
    	<td>
    		<%= f.text_area :about, :rows => 5 %>
    	</td>
    </tr>     
  </table>

  <div >
  	<%= f.submit %>
  </div>
<% end %>  