<div class = "header">
  <h3 > Admin Accounts </h3>
  <%= render "admin_navigation" %>
</div>

<div >
	<table  id = "sortable" name = "Employee">
    <tbody class = "content">
      <% @employee.each do |emp| %>
        <tr id = "<%= emp.id %>">
          <td><%= emp.name %></td>
          <td><%= link_to "edit", edit_employee_path(emp) %></td>
          <td><%= link_to "remove", emp, method: :delete, data: { confirm: "Are u sure ?" } %></td>
        </tr>
      <% end %> 
    </tbody>      
  </table>
</div>

<%= link_to "add", new_employee_path  %>