<div class = "header">
  <h3 > Admin Accounts </h3>
  <div style = "text-align: left">
    <%= link_to "Admin Home", admins_path %>
  </div>
</div>

<% if notice %>
<p id =  "notice"><%= notice %></p>
<% end %>


 <div class = "product_bar">
	<ul  id = "sortable">
  <% @products.each do |product| %>
  
    <li >
      <%= link_to " #{product.name}" %>
      <%= link_to "edit", edit_product_path(product) %>
      <%= link_to "remove", product, method: :delete, data: { confirm: "Are u sure ?" } %>
      <%= link_to "reorder images", image_admin_path(product) %>
    </li>
  <% end %> 
  </ul>
  
</div>

<%= link_to "add", new_product_path  %>