<div class = "header">
  <h3 > Admin Accounts </h3>
  <div style = "text-align: left">
    <%= link_to "Admin Home", admins_path %>
  </div>
</div>

<% if notice %>
<p id =  "notice"><%= notice %></p>
<% end %>


<div class = "product_bar">
	<table  id = "sortable" name = "Product">
    <tbody class = "content">
      <% @products.each do |product| %>
        <tr id = "<%= product.id %>">
          <td><%= product.name %></td>
          <td><%= link_to "edit", edit_product_path(product) %></td>
          <td><%= link_to "remove", product, method: :delete, data: { confirm: "Are u sure ?" } %></td>
          <td><%= link_to "reorder images", image_admin_path(product) %></td>
        </tr>
      <% end %> 
    </tbody>      
  </table>
</div>

<%= link_to "add", new_product_path  %>