<div class = "heading">
	<h3 >Products List </h3> 
<div style = "text-align: left;">
<%= link_to "Home", home_index_path  %>
<%= link_to "Admin Controls", home_index_path  %>
</div>

</div>

<div class = "product_bar">
	<ul>
		<% @products.each do |product| %>
			<li>
        <%= link_to " #{product.name}", home_index_path %>
        <%= link_to "edit", edit_product_path(product) %>
        <%= link_to "remove", product, method: :delete, data: { confirm: "Are u sure ?" } %>
        <br />
      </li>
		<% end %>
	</ul>
</div>
<%= link_to "add", new_product_path  %>