<h1 class = "header" >This is Home of Innovation</h1>
<div class = "product_link">
<%= link_to "Our Products", products_path %>
</div>



<div class = "introduction">
	<h3>Aspirer haut</h3>
	We are a creative development agency.
	<br />
	A TEAM OF PEOPLE FOCUSED ON	THE DIGITAL, THE PHYSICAL,
	<br>
	AND THE PLACES IN-BETWEEN.
</div>
<div id = "footer" >
  <div class = "hidden_div">
    <div  class = "content_div">
      <ul>
        Contact Info:
      </ul>
    </div>
    <div class = "employee_div">
      <ul class = "accordion">
        LEADERSHIP
        <li id = "employee">
          <% @employee.each do |emp| %>
            <dl id = "emp_details"  >
              <dt>
               <%= emp.name %>
              </dt>
              <dd >
               <%= emp.designation %>
               <p>
                  Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                  ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                  amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                  odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate
               </p>
              </dd>
            </dl>
          <% end %>
        </li>
      </ul>
    </div>
    <div class = "map">
      <ul>
        Site map
        <li id = "site_map">
        </li>
      </ul>
    </div>

  </div>

  <div class = "bottom_bar">
  	<div class = "contact">
      <ul>      
    			<%= link_to "contact us", home_index_path %>
      </ul>
    </div>
    <div class = "leadership">
    	<ul>
        <%= link_to "leadership", home_index_path %>
      </ul>
    </div>
    <div class = "site_map">
  		<ul>	 
        <%= link_to "site map", home_index_path %>
      </ul>
    </div>
  </div>
</div>


