<%= form_for(@products) do |f| %>
  <% if @products.errors.any? %>
  <%=  'error in input' %>
  <% end %>

  <table>
    <tr>
    	<td>
    		<%= f.label :name %>
    	</td>
    	<td>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :description %>
    	</td>
    	<td>
    		<%= f.text_area :description %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :active_content %>
    	</td>
    	<td>
    		<%= f.text_field :active_content %>
    	</td>
    </tr>
  </table>

  <div >
  	<%= f.submit %>
  </div>
<% end %>  