    <% if @products.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@products.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @products.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for @products, :html => { :multipart => true }  do |f| %>

  <table>
    <tr>
    	<td>
    		<%= f.label :name %>
    	</td>
    	<td>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :description %>
    	</td>
    	<td>
    		<%= f.text_area :description, :rows => 5 %>
    	</td>
    </tr>
    <tr>
      <td>
        <%= f.label :active_content %>
      </td>
      <td>
        <%= f.check_box :active_content %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :preview %>
      </td>
      <td>
        <%= f.check_box :preview %>
      </td>
    </tr>
  </table>

  <div id =  "img_upload">
    <%= f.fields_for :images do |img| %>
      <%= render 'image_fields', :f => img %>
    <% end %>
  </div>
  <%= link_to_add_images "add more image", f, :images%>
 

 
    <table id = "sortable" name = "Image">
      <tbody class = "content">
        <% @image.each do |img| %>
          <% if img.image_file_name %>          
            <tr id = "<%= img.id %>">
              <td >
                <%= img.position %>
                <%= link_to(image_tag(img.image.url(:small))) %>  
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
   <% @products.move_to_bottom unless @products.position %>
  <div >
  	<%= f.submit %>
  </div>
<% end %>  