
    <% if @products.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@products.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @products.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for @products, :html => { :multipart => true }  do |f| %>

  <table>
    <tr>
    	<td>
    		<%= f.label :name %>
    	</td>
    	<td>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :description %>
    	</td>
    	<td>
    		<%= f.text_area :description, :rows => 5 %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :active_content %>
    	</td>
    	<td>
    		<%= f.text_field :active_content %>
    	</td>
    </tr>
     <tr>
      <td>
        <%= f.label :position %>
      </td>
      <td>
        <%= f.text_field :position %>
      </td>
    </tr>
  </table>

  <div id =  "img_upload">
    <%= f.fields_for :images do |img| %>
      <% if img.object.new_record? %>
       <p> <%= img.file_field :image %></p>
      <% end %>
    <% end %>
  </div>

  <div id = "uploaded_img">
    <%= f.fields_for :images do |img| %>
      <% unless img.object.new_record? %>
        <p>
          <%= link_to(image_tag(img.object.image.url(:small)),img.object.image.url(:original)) %>
          <%= img.check_box :_destroy %>
        </p>
      <% end %>
    <% end %>
  </div>


  <div >
  	<%= f.submit %>
  </div>
<% end %>  