<% if @products.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@products.errors.count, "error") %>
      prohibited this user from being saved:</h2>
    <ul>
      <% @products.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @products, :html => { :multipart => true }  do |f| %>
  <table>
    <tr>
    	<td>
    		<%= f.label :name %>
    	</td>
    	<td>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
    	<td>
    		<%= f.label :description %>
    	</td>
    	<td>
    		<%= f.text_area :description, :rows => 5 %>
    	</td>
    </tr>
    <tr>
      <td>
        <%= f.label :active_content %>
      </td>
      <td>
        <%= f.check_box :active_content %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :preview %>
      </td>
      <td>
        <%= f.check_box :preview %>
      </td>
    </tr>
    </table>
    
        <div id =  "img_upload">  
        <b> Add image </b>
    
        
          <%= f.fields_for :images do |img| %>
            <% if img.object.new_record? %>
              <%= render 'image_fields', :f => img %>
            <%end%>
          <% end %>
        
  <%= link_to_add_images "add more", f, :images%>
  </div>
  <br />
  <br />
  <b>Product's images</b>
  
  <table id = "sortable" name = "Image">
    <% if @image && @image.first && @image.first.image_file_name %>
      <tbody class = "content">
        <% @image.each do |img| %>           
          <tr id = "<%= img.id %>">
            <td>
              <div id = "caption">
                <%= img.caption %>
              </div>
              <div>                
                <%= link_to(image_tag(img.image.url(:small))) %> 
                <%= link_to "edit", { :action => "edit_image", :id => img.id} %>
                  
                <%= link_to "remove",{ :action => "remove_img", :image_id => img.id }  %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <% @products.move_to_bottom unless @products.position %>
  <div >
  	<%= f.submit %>
  </div>
<% end %>  