<div class = "header" >
	<h1 > Our Products </h1> 
<div style = "text-align: left; display: block; margin-top: -3em;">
<%= link_to "Home", home_index_path  %>
</div>
</div>


<div class = "product_bar">
  <ul>
    <% i = -1 %>
    <% @products.each do |product| %>
    <li id = "product_<%= i = i + 1 %>" class = "product_name">
      <%= link_to product.name  %>
    </li>
    <% end %>
  </ul>

</div>

<div id = "prod">
  <% i = -1 %>
  <% @products.each do |product| %>
		<div id = "details" class = "product_<%= i = i + 1 %>">
		 
      <br />
      <div id = "product_desc" >
        <p>
          <%= sanitize(product.description) %>
        </p>        
        <% for img in  product.images do %>
          <%= link_to(image_tag(img.image.url(:small))) %>
        <% end %>
        <br />
      <div id = "product_<%= i + 1 %>" class = "product_name">
        <%= link_to @products[i +1].name if @products[i + 1] %>
      </div>  
      </div>
      
    </div>
	<% end %>
</div>
