<div class = "header" >
	<h1 > Our Products </h1> 
<div style = "text-align: left; display: block; margin-top: -3em;">
<%= link_to "Home", home_index_path  %>
</div>
</div>


<div class = "product_bar">
  

	<ul id = "prod">
    <% @products.each do |product| %>
			<%= content_tag_for :li, product do %>
			 <%= link_to product.name, remote: true %> 
        <br />
        <div id = "product_desc" >
          <p><%= sanitize(product.description) %></p>
          <% for img in  product.images do %>
          <%= link_to(image_tag(img.image.url(:small))) %>
                 	
        <% end %>
        </div>
      <% end %>

		<% end %>
	</ul>

<% @products.last.decrement_position %>


</div>