<div class = "header" >
	<h1 > Our Products </h1> 
<div style = "text-align: left; display: block; margin-top: -3em;">
<%= link_to "Home", home_index_path  %>
</div>
</div>


<div class = "product_bar">
	<ul id = "prod">
		<% @products.each do |product| %>
			<%= content_tag_for :li, product do %>
			 <%= link_to product.name %> 
        <br />
        <div >
          <%= product.description %>
          <% for img in  product.images do %>
          <p><%= link_to(image_tag(img.image.url(:small))) %></p>
       	<% end %>
        </div>
      <% end %>	
		<% end %>
	</ul>

<% @products.first.move_to_top %>
<% @products.last.move_higher %>
<% @products.first.move_to_bottom %>

</div>